.booking_wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_wrap{
    height: 70%;
    width: 65%;
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.red_text{
    color: black;
    font-weight: bolder;
}

.inner_wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    padding: 10px;
}
.margin_class{
    margin-top: 40px;
}

.view_btn{
    background-color: #D32F2F;
    height: 50px;
    width: 120px;
    align-self: center;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

.onlyforhover{
    align-self: center;
}

.onlyforhover :hover{
    cursor: pointer;
}